@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/* Google fonts */

/* Color name declaration */

/* Social icon color */

/* Google fonts */

/* Color name declaration */

/* Social icon color */

/* Bootstrap customization */

.edutube-navbar-brand {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 24px !important;
  color: #333 !important;
}

.navbar-nav .nav-item .nav-link {
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px;
  color: #333333 !important;
}

/* Navbar customization */

.navbar {
  margin-bottom: inherit !important;
}

.search-form {
  max-width: 370px;
}

.navbar-form {
  width: 40% !important;
  margin-left: 20px;
  position: relative;
}

.navbar-form .navbar-search-input {
  width: 100%;
  border: solid 2px #e3e3e3;
  background: #f1f1f1;
  border-radius: 4px;
  padding: 8px 40px 8px 15px;
  outline: none;
  font-size: 11px;
}

.navbar-form .navbar-search-input:hover {
  outline: none;
}

.navbar-form:before {
  content: "\F002";
  font-family: 'FontAwesome';
  top: 6px;
  right: 10px;
  position: absolute;
  color: #3d3d3d;
  font-size: 14px;
}

.flipkart-navbar-input {
  padding: 11px 16px;
  border-radius: 2px 0 0 2px;
  border: 0 none;
  outline: 0 none;
  font-size: 15px;
}

.flipkart-navbar-button {
  background-color: #ffe11b;
  border: 1px solid #ffe11b;
  border-radius: 0 2px 2px 0;
  color: #565656;
  padding: 10px 0;
  height: 43px;
  cursor: pointer;
}

/* Slider design */

.carousel-inner {
  max-height: 450px;
}

.carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
}

.carousel-inner .carousel-item .carousel-caption h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}

.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  background-color: transparent !important;
  border-radius: 50% !important;
  border: 1px solid #fff !important;
}

.carousel-indicators .active {
  border: 1px solid #0fa458 !important;
  background-color: #fff !important;
}

/* Largest community */

#largest-community {
  background: #fff;
  -webkit-box-shadow: 2px 2px 4px #ccc, 3px 3px 2px #ddd, 2px 2px 1px #eee;
  box-shadow: 2px 2px 4px #ccc, 3px 3px 2px #ddd, 2px 2px 1px #eee;
}

.largest-brand-wrap {
  padding-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.largest-brand-wrap .brand-row .brand-column {
  margin-bottom: 10px;
}

.brand-item .item-img {
  float: left;
  margin-right: 20px;
}

.brand-item .item-img img {
  width: 52px;
}

.brand-item .item-text {
  padding-left: 70px;
}

.brand-item .item-text h4 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
}

.brand-item .item-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.landing-top-section {
  background: #f1f1f1;
}

/* Learn-anytime */

.learn-anytime .learn-anytime-row .left-col {
  padding-left: 105px;
  padding-top: 50px;
  padding-bottom: 35px;
  min-height: 310px;
}

.learn-anytime .learn-anytime-row .left-col h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #333333;
  font-size: 20px;
}

.learn-anytime .learn-anytime-row .left-col h5 {
  font-family: #ef294a;
  font-size: 16px;
  color: #333333;
}

.learn-anytime .learn-anytime-row .left-col p {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 16px;
}

.learn-anytime .learn-anytime-row .right-col {
  min-height: 310px;
  background: url("/images/tab.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Skill */

.skill-item-wrap .skill-row {
  margin-left: 5%;
  margin-right: 5%;
}

.skill-item-wrap .skill-row .skill-col {
  margin-bottom: 15px;
}

.skill-item-wrap .skill-row .skill-col .item {
  padding: 40px 25px;
  background: #f1f1f1;
  border: 1px solid #eee;
  padding-bottom: 25px;
  -webkit-box-shadow: 0px 2px 3px #ddd;
  box-shadow: 0px 2px 3px #ddd;
  box-shadow: 0px 2px 3px #ddd;
}

.skill-item-wrap .skill-row .skill-col .item h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.skill-item-wrap .skill-row .skill-col .item p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333333;
  min-height: 50px;
}

#find-note-section {
  background: #f1f1f1;
  padding: 4% 6%;
}

#find-note-section .find-note-container {
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
          box-shadow: 0px 0px 5px #cccccc;
  border-radius: 3px;
  padding: 5% 15%;
}

#find-note-section .find-note-container h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

#find-note-section .find-note-container p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333333;
}

#become-tutor-section {
  padding: 6% 7%;
  background-image: url("/images/bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

#become-tutor-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

#help-center-section {
  padding: 5% 7%;
}

#help-center-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

#master-skill {
  padding: 60px 75px;
}

#community-section {
  border-top: solid 1px #f1f1f1;
  padding: 5% 7%;
}

#community-section h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#community-section .slider-items .slider-item {
  padding: 20px 30px;
}

#community-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
}

#community-section .user-section {
  border-radius: 30px;
  background: #f1f1f1;
  text-align: center;
  max-width: 210px;
  padding: 5px 0;
  overflow: hidden;
  margin: auto;
}

#community-section .user-section .avatar {
  width: 50px;
  border-radius: 100%;
  padding: 10px;
  margin: 0 5px 0 10px;
  float: left;
  background: #ffffff;
}

#community-section .user-section .information {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}

#community-section .user-section .information h4 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 4px;
  font-size: 14px;
}

/* Login and registration modal and content design */

#registration-modal .modal-dialog,
#login-modal .modal-dialog,
#forgot-password-modal .modal-dialog,
#reset-password-modal .modal-dialog,
#reset-password-modal .modal-dialog {
  max-width: 400px !important;
}

#registration-modal .modal-content,
#login-modal .modal-content,
#forgot-password-modal .modal-content,
#reset-password-modal .modal-content,
#reset-password-modal .modal-content {
  max-width: 400px;
}

label.input-label {
  display: block;
  font-family: 'Raleway';
  font-size: 14px;
  color: #333333;
  font-weight: 700;
  margin-bottom: 3px;
}

.auth-modal-header,
.auth-modal-footer {
  background: #F1F1F1;
  padding: 15px 10px !important;
  font-family: 'Raleway';
}

.auth-modal-header .modal-title,
.auth-modal-footer .modal-title {
  font-size: 18px;
  font-weight: 700;
  margin: auto !important;
}

.auth-modal-header .forgot-password-hints,
.auth-modal-footer .forgot-password-hints {
  font-size: 13.5px;
  text-align: justify;
}

.auth-modal-footer {
  font-size: 16px;
  text-align: center;
  display: block !important;
  border-radius: 0 0 4px 4px;
}

.auth-modal-footer a {
  color: #ef294a;
  font-weight: bold;
}

.group-input {
  width: 100%;
  position: relative;
  background: #F1F1F1;
  border: solid 1px #D8D8D8;
  border-radius: 4px;
}

.group-input .input-icon {
  width: 40px;
  padding: 7px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: center;
  color: #999999;
}

.group-input .input-icon:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 1px;
  width: 1px;
  background: #D8D8D8;
}

.group-input .input-inner {
  border: none;
  display: inline-block;
  background: transparent;
  padding: 7px;
  width: calc(100% - 45px);
  vertical-align: top;
}

.group-input .input-inner:hover,
.group-input .input-inner:focus {
  outline: none;
}

.or-text {
  margin: 10px 0 20px 0;
  height: 2px;
  background: #f1f1f1;
  position: relative;
}

.or-text:before {
  position: absolute;
  content: 'OR';
  border-radius: 50px;
  background: #ffffff;
  top: -8px;
  left: 44%;
  padding: 0px 7px 4px 7px;
  color: #555555;
  font-size: 12px;
}

.footer-wrap footer {
  padding: 60px 30px 40px 30px;
  background: #f1f1f1;
}

.footer-wrap footer .footer-row .footer-col .edutube h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.footer-wrap footer .footer-row .footer-col .edutube p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #333333;
}

.footer-wrap footer .footer-row .footer-col .get-to-know h4,
.footer-wrap footer .footer-row .footer-col .learn h4,
.footer-wrap footer .footer-row .footer-col .partner h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.footer-wrap footer .footer-row .footer-col .get-to-know ul,
.footer-wrap footer .footer-row .footer-col .learn ul,
.footer-wrap footer .footer-row .footer-col .partner ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-wrap footer .footer-row .footer-col .get-to-know ul li a,
.footer-wrap footer .footer-row .footer-col .learn ul li a,
.footer-wrap footer .footer-row .footer-col .partner ul li a {
  display: inline-block;
  cursor: pointer;
  color: #5c5c5c;
  font-size: 12px;
  margin-bottom: 10px;
}

.footer-wrap footer .footer-row .footer-col .get-to-know ul li a:hover,
.footer-wrap footer .footer-row .footer-col .learn ul li a:hover,
.footer-wrap footer .footer-row .footer-col .partner ul li a:hover {
  text-decoration: underline;
}

.footer-wrap .footer-bottom-section {
  background: #ffffff;
  padding: 6px 20px;
}

.footer-wrap .footer-bottom-section .left-section {
  float: left;
  color: #808080;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  padding-top: 4px;
}

.footer-wrap .footer-bottom-section .right-section {
  float: right;
}

.footer-wrap .footer-bottom-section .right-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-wrap .footer-bottom-section .right-section ul li {
  line-height: 16px;
  position: relative;
  display: inline-block;
}

.footer-wrap .footer-bottom-section .right-section ul li a {
  position: relative;
  color: #808080;
  text-decoration: none;
  padding: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.footer-wrap .footer-bottom-section .right-section ul li a:hover {
  text-decoration: none;
}

.footer-wrap .footer-bottom-section .right-section ul li a:before {
  content: '';
  position: absolute;
  border-right: solid 1px #aaaaaa;
  right: -2px;
  top: 5px;
  bottom: 5px;
}

.footer-wrap .footer-bottom-section .right-section ul li:last-child a:before {
  content: '';
  border-right: none;
}

/* Question and answer blog design */

.question-blog {
  border-top: 1px solid #ddd;
}

.question-blog .question-blog-container .question-blog-row .left-col {
  padding-left: 10%;
  padding-top: 35px;
  padding-bottom: 35px;
  min-height: 310px;
}

.question-blog .question-blog-container .question-blog-row .left-col h4 {
  font-family: "Open Sans", sans-serif;
  padding-top: 25px;
  font-size: 16px;
  font-weight: bold;
}

.question-blog .question-blog-container .question-blog-row .left-col p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333333;
  margin-bottom: 30px;
}

.question-blog .question-blog-container .question-blog-row .right-col {
  background: #f1f1f1;
  padding: inherit;
  border-left: 1px solid #ddd;
}

.question-blog .question-blog-container .question-blog-row .right-col h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 30px;
  margin: 0;
}

.question-blog .question-blog-container .question-blog-row .right-col ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #fff;
}

.question-blog .question-blog-container .question-blog-row .right-col ul li {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.question-blog .question-blog-container .question-blog-row .right-col ul li .question-item {
  clear: both;
  overflow: hidden;
}

.question-blog .question-blog-container .question-blog-row .right-col ul li .question-item .item-img {
  float: left;
}

.question-blog .question-blog-container .question-blog-row .right-col ul li .question-item .item-content {
  padding-left: 55px;
}

.question-blog .question-blog-container .question-blog-row .right-col ul li .question-item .item-content h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.question-blog .question-blog-container .question-blog-row .right-col ul li .question-item .item-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
}

.question-blog .question-blog-container .question-blog-row .right-col ul li .question-item .item-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #fff;
  clear: both;
  overflow: hidden;
}

.question-blog .question-blog-container .question-blog-row .right-col ul li .question-item .item-content ul li {
  border: inherit;
  display: inline-block;
  margin-right: 10px;
  float: left;
  padding: inherit;
}

.question-blog .question-blog-container .question-blog-row .right-col ul li .question-item .item-content ul li a {
  display: inline-block;
  padding: 2px 20px;
  background-color: #f1f1f1;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #333333;
}

.question-blog .question-blog-container .question-blog-row .right-col .see-all {
  padding: 15px 30px;
}

.question-blog .question-blog-container .question-blog-row .right-col .see-all a {
  color: #ef294a;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.question-blog .question-blog-container .question-blog-row .right-col .see-all a:hover {
  text-decoration: underline;
}

/* Google fonts */

/* Color name declaration */

/* Social icon color */

*:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.hints {
  font-size: 14px;
  font-family: 'Railway';
}

.primary-header,
.primary-header-white {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.primary-header {
  color: #333333;
}

.primary-header-white {
  color: #fff;
}

/* Button design for edutube */

.primary-btn,
.default-btn {
  min-width: 180px;
  min-height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 28px !important;
  font-size: 15px !important;
}

.primary-btn,
.primary-btn-sm {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px !important;
  padding: 4px 16px !important;
  color: #fff !important;
  background-color: #ef294a;
  border-bottom: 2px solid #d01e3c !important;
}

.primary-btn:hover,
.primary-btn-sm:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid #ef294a !important;
}

.default-btn,
.default-btn-sm {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px !important;
  padding: 4px 16px !important;
  color: #333333 !important;
  background-color: #f1f1f1;
  border-bottom: 2px solid #c7c7c7 !important;
}

.default-btn:hover,
.default-btn-sm:hover {
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid #f1f1f1 !important;
}

.facebook-btn {
  color: #ffffff !important;
  background-color: #494492;
  border-bottom: 2px solid #3E3979 !important;
  text-align: left !important;
}

.facebook-btn:hover {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid #3E3979 !important;
}

.facebook-btn .icon {
  display: inline-block;
  margin-right: 25px;
  font-weight: bold;
}

.google-btn {
  color: #333333 !important;
  background-color: #f1f1f1;
  border-bottom: 2px solid rgba(200, 200, 200, 0.25) !important;
  text-align: left !important;
}

.google-btn:hover {
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid #f1f1f1 !important;
}

.google-btn .icon {
  display: inline-block;
  margin-right: 25px;
  font-weight: bold;
}

/* Search button */

.search-group-btn .search-btn-input {
  padding: 10px 15px;
  border-radius: 3px 0 0 3px;
  border: 0 none;
  outline: 0 none;
  font-size: 10px;
  border: 1px solid #e3e3e3;
  border-right: 0;
  outline: none;
}

.search-group-btn .search-btn-input:focus {
  outline: 0;
}

.search-group-btn .group-btn {
  background-color: #ef294a;
  border: inherit;
  border-radius: 0 3px 3px 0;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 10px;
  outline: none;
  padding: 0 15px;
}

/* Footer social media button class declaration */

.facebook-bg {
  background-color: #3b5998;
}

.twitter-bg {
  background-color: #1da1f2;
}

.youtube-bg {
  background-color: #ff0000;
}

.linkedin-bg {
  background-color: #007bb5;
}

.footer-social {
  margin-bottom: 15px;
}

.footer-social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social ul li {
  display: inline-block;
  margin-right: 5px;
}

.footer-social ul li a {
  display: inline-block;
  padding: 0px 7px;
  font-size: 15px;
  color: #fff;
  border-radius: 3px;
}

.footer-social ul li a:hover {
  cursor: pointer;
  text-decoration: none;
}

/* Validation error message */

.validation-error {
  color: red;
}

@media all and (max-width: 1199px) {
  #master-skill {
    padding: 30px 0px;
  }
}

@media all and (max-width: 991px) {
  .largest-brand-wrap {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media all and (max-width: 768px) {
  .learn-anytime .learn-anytime-row .left-col {
    padding-left: 50px;
  }

  .learn-anytime .learn-anytime-row .right-col {
    display: none;
  }
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.right-menu-container li {
  margin-right: 10px;
}

.right-menu-container li:last-child {
  margin-right: 0;
}

